sustained_attention_experiment/data/group2/19_2019_Oct_15/eye_data/19_7.txt
variable_attention_experiment/data/group2/10_2019_Nov_16/eye_data/10_7
variable_attention_experiment/data/group2/29_2020_Jan_13/eye_data/29_7
variable_attention_experiment/data/group2/8_2019_Nov_16/eye_data/8_7
variable_attention_experiment/data/group2/9_2019_Nov_16/eye_data/9_7